<app-menu></app-menu>
<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col">
            <h2 class="text-center p-3">Usuarios</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text">Buscar</span>    
                <input type="text" class="form-control" placeholder="Buscar..." (keyup)="getUsers($event);" >
                <button class="btn btn-outline-secondary" type="button" (click)="getUsers()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                <!-- <button class="btn btn-outline-secondary" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button> -->
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end" *ngIf="getInfo">
            <span *ngIf="usuarios.total > 0"> Se muestan {{ usuarios.users.length }} de {{ usuarios.total }} </span>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="getInfo">
            <span *ngIf="usuarios.users.length == 0">No se encontraron resultados</span>
            <table class="table table-hover table-striped" *ngIf="usuarios.users.length > 0">
                <thead class="table-warning">
                    <tr>
                        <th scope="col">Nombre(s)</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let user_aux of usuarios.users">
                        <td>{{ user_aux.name }}</td>
                        <td>{{ user_aux.first_surname }}</td>
                        <td>{{ user_aux.second_surname }}</td>
                        <td>{{ user_aux.user_name }}</td>
                        <td><a routerLink="/dashboard/user/{{user_aux._id}}"><i class="fa fa-user-circle" aria-hidden="true" style="font-size: 25px; color:#0b6ae6"></i></a></td>
                        <td><a (click)="deleteUser(user_aux._id)"><i class="fa fa-trash" aria-hidden="true" style="font-size: 25px; cursor: pointer; color: red;"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
