<app-menu ></app-menu> 
<div #mapa class="mapa-container"></div>
<ul class="list-group-own">
    <li class="list-group-item list-group-item-primary"
        (click)="irUbicacion()">
        Ir a mi ubicación
    </li>

</ul>
<ul class="btn-group dropdown">
    <button type="button" class="btn btn-primary" (click)="agregarMarcador( usuario.root )">
        + Agregar
    </button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item dropdown-menu-end dropdown-menu-lg-start" 
            *ngFor="let marcador of marcadoresArr; let i = index"
            (click)="irMarcador( marcador );"
            (dblclick)="borrarMarcador( i, usuario.root )"
            [ngStyle]="{
                'background-color': marcador.color
            }">
            Catástrofe {{ i + 1 }} 
            </a>
        </li>
    </ul>
</ul>
<!-- <ul class="list-group">
    <li class="list-group-item list-group-item-info"
        (click)="agregarMarcador( usuario.root )">
        + Agregar
    </li>
    <li class="list-group-item"
        *ngFor="let marcador of marcadoresArr; let i = index"
        (click)="irMarcador( marcador );"
        (dblclick)="borrarMarcador( i, usuario.root )"
        [ngStyle]="{
            'background-color': marcador.color
        }">
        Catástrofe {{ i + 1 }}
    </li>
</ul> -->
