<app-menu ></app-menu> 
<div #mapa class="mapa-container"></div>
<ul class="list-group-own">
    <li class="list-group-item list-group-item-primary"
        (click)="irUbicacion()">
        Ir a mi ubicación
    </li>

</ul>
<ul class="list-group">
    <li class="list-group-item list-group-item-info"
        (click)="agregarMarcador()">
        + Agregar
    </li>
    <li class="list-group-item"
        *ngFor="let marcador of marcadoresArr; let i = index"
        (click)="irMarcador( marcador );"
        (dblclick)="borrarMarcador( i )"
        [ngStyle]="{
            'background-color': marcador.color
        }">
        Catástrofe {{ i + 1 }}
    </li>
</ul>
