<app-menu></app-menu>
<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col">
            <h2 class="text-center p-3">Marcadores registrados</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end" *ngIf="getInfo">
            <span *ngIf="marcadores.total > 0"> Se muestan {{ marcadores.marks.length }} de {{ marcadores .total }} </span>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="getInfo">
            <span *ngIf="marcadores.marks.length == 0">No se encontraron resultados</span>
            <table class="table table-hover table-striped" *ngIf="marcadores.marks.length > 0">
                <thead class="table-warning">
                    <tr>
                        <th scope="col-2">Ubicacion</th>
                        <th scope="col-1">Color</th>
                        <th scope="col-2">Fecha de creación</th>
                        <th scope="col-2">Creado por</th>
                        <th scope="col-2">Fecha de modifivación</th>
                        <th scope="col-2">Actualizado por</th>
                        <th scope="col-1">Estatus</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let mark_aux of marcadores.marks">
                        <td>[{{ mark_aux.centro[0] }}, {{ mark_aux.centro[1] }}]</td>
                        <td>{{ mark_aux.color }}</td>
                        <td>{{ mark_aux.created_at | date:'medium' }}</td>
                        <td>{{ mark_aux.created_by[0].name }}</td>
                        <td>{{ mark_aux.updated_at | date:'medium' }}</td>
                        <td>{{ mark_aux.updated_by[0].name }}</td>
                        <td *ngIf="!mark_aux.status"><button type="button" class="btn btn-success" disabled>Seguro</button></td>
                        <td *ngIf="mark_aux.status"><button type="button" class="btn btn-danger" disabled>Peligroso</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
